In [106]:
import plotly.express as px
import difflib 
import json
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib
import geopandas 
from geodatasets import get_path
from matplotlib import cm
from matplotlib.colors import ListedColormap,LinearSegmentedColormap
%matplotlib inline

In [107]:
df=pd.read_csv('pv_PRSD_FINAL_tur1.csv')

In [108]:
df.head(5)

,Cod birou electoral,Județ,Uat,Siruta,Localitate,Secție,Nr,Tip,Versiune,a,...,g5,g6,g7,g8,g9,g10,g11,g12,g13,g14
0,1,ALBA,MUNICIPIUL ALBA IULIA,1017,ALBA IULIA,CENTRUL DE ZI PENTRU PERSOANE VÂRSTNICE,1,Alegeri Prezidentiale,1,1618,...,158,1,2,3,5,65,2,32,9,12
1,1,ALBA,MUNICIPIUL ALBA IULIA,1017,ALBA IULIA,ŞCOALA GIMNAZIALĂ „VASILE GOLDIŞ”,2,Alegeri Prezidentiale,1,1032,...,80,1,2,2,2,54,0,19,6,3
2,1,ALBA,MUNICIPIUL ALBA IULIA,1017,ALBA IULIA,ŞCOALA GIMNAZIALĂ „VASILE GOLDIŞ”,3,Alegeri Prezidentiale,1,1367,...,116,3,1,3,0,71,0,38,4,3
3,1,ALBA,MUNICIPIUL ALBA IULIA,1017,ALBA IULIA,ŞCOALĂ GIMNAZIALĂ „AVRAM IANCU”,4,Alegeri Prezidentiale,1,1318,...,118,4,2,0,3,72,3,28,5,4
4,1,ALBA,MUNICIPIUL ALBA IULIA,1017,ALBA IULIA,ŞCOALĂ GIMNAZIALĂ „AVRAM IANCU”,5,Alegeri Prezidentiale,1,928,...,75,0,0,2,1,37,2,20,5,4

In [109]:
columns = ['a', 'b', 'b1', 'b2', 'b3', 'c', 'd', 'e', 'f',
       'g1', 'g2', 'g3', 'g4', 'g5', 'g6', 'g7', 'g8', 'g9', 'g10', 'g11',
       'g12', 'g13', 'g14']

In [110]:
sum_parties = {col: "sum" for col in columns}

In [111]:
sum_parties

{'a': 'sum',
 'b': 'sum',
 'b1': 'sum',
 'b2': 'sum',
 'b3': 'sum',
 'c': 'sum',
 'd': 'sum',
 'e': 'sum',
 'f': 'sum',
 'g1': 'sum',
 'g2': 'sum',
 'g3': 'sum',
 'g4': 'sum',
 'g5': 'sum',
 'g6': 'sum',
 'g7': 'sum',
 'g8': 'sum',
 'g9': 'sum',
 'g10': 'sum',
 'g11': 'sum',
 'g12': 'sum',
 'g13': 'sum',
 'g14': 'sum'}

In [112]:
df2 = df.groupby(by=["Uat", "Județ"]).agg(sum_parties).reset_index()

In [113]:
df2.head(5)

,Uat,Județ,a,b,b1,b2,b3,c,d,e,...,g5,g6,g7,g8,g9,g10,g11,g12,g13,g14
0,1 DECEMBRIE,ILFOV,6638,3490,2793,697,0,3446,44,7350,...,886,10,17,13,12,356,19,104,16,63
1,23 AUGUST,CONSTANŢA,4741,2268,2004,264,0,2219,49,5300,...,328,5,7,2,14,156,13,65,11,78
2,ABRAM,BIHOR,2458,1157,1031,126,0,1144,13,2708,...,212,4,1,6,7,89,3,48,9,12
3,ABRĂMUŢ,BIHOR,2432,887,784,90,13,863,24,2680,...,82,1,2,1,3,25,1,20,1,3
4,ACÂŞ,SATU MARE,2214,876,780,96,0,848,28,2400,...,102,3,2,3,2,17,0,6,2,2

In [114]:
df2["name_uat"] = (df2["Uat"] + df2["Județ"]).transform(lambda s: s.replace(" ", "").replace("-", "").replace('MUNICIPIUL', '').replace('COMUNA', '').replace('ORAŞ', '').replace("Ă", "A").replace("Ţ", "T").replace("Ă", "A").replace("Ş", "S").replace("Â", "I").replace("Î", "I").lower())

In [115]:
df2.head(5)

,Uat,Județ,a,b,b1,b2,b3,c,d,e,...,g6,g7,g8,g9,g10,g11,g12,g13,g14,name_uat
0,1 DECEMBRIE,ILFOV,6638,3490,2793,697,0,3446,44,7350,...,10,17,13,12,356,19,104,16,63,1decembrieilfov
1,23 AUGUST,CONSTANŢA,4741,2268,2004,264,0,2219,49,5300,...,5,7,2,14,156,13,65,11,78,23augustconstanta
2,ABRAM,BIHOR,2458,1157,1031,126,0,1144,13,2708,...,4,1,6,7,89,3,48,9,12,abrambihor
3,ABRĂMUŢ,BIHOR,2432,887,784,90,13,863,24,2680,...,1,2,1,3,25,1,20,1,3,abramutbihor
4,ACÂŞ,SATU MARE,2214,876,780,96,0,848,28,2400,...,3,2,3,2,17,0,6,2,2,acissatumare

In [116]:
uat_localitati='ro_uat_poligon.geojson'

In [117]:
gdf = geopandas.read_file(uat_localitati)

gdf.head(5)

,natcode,name,natLevName,countyId,countyCode,county,countyMn,regionId,regionCode,region,pop2011,pop2012,pop2013,pop2014,pop2015,pop2020,version,geometry
0,153400,Năsturelu,Comuna,34.0,341.0,Teleorman,TR,3.0,831.0,Sud,2707.0,2670.0,2642.0,2697.0,2682.0,2470.0,2021-12-23,"POLYGON ((25.49276 43.70393, 25.49274 43.70389..."
1,152314,Bujoru,Comuna,34.0,341.0,Teleorman,TR,3.0,831.0,Sud,1700.0,1683.0,1674.0,1973.0,1978.0,1846.0,2021-12-23,"MULTIPOLYGON (((25.52463 43.70519, 25.52670 43..."
2,151978,Zimnicea,Oras,34.0,341.0,Teleorman,TR,3.0,831.0,Sud,14852.0,14703.0,14494.0,15765.0,15616.0,14616.0,2021-12-23,"POLYGON ((25.44311 43.73682, 25.44198 43.73633..."
3,151709,Ciuperceni,Comuna,34.0,341.0,Teleorman,TR,3.0,831.0,Sud,1633.0,1609.0,1640.0,1626.0,1587.0,1489.0,2021-12-23,"MULTIPOLYGON (((24.94815 43.77304, 24.94822 43..."
4,155118,Fântânele,Comuna,34.0,341.0,Teleorman,TR,3.0,831.0,Sud,1873.0,1866.0,1859.0,1644.0,1603.0,1431.0,2021-12-23,"POLYGON ((25.33598 43.77030, 25.36354 43.76133..."

In [118]:
gdf2=gdf.drop(['natcode','natLevName', 'countyId', 'countyCode',
       'countyMn', 'regionId', 'regionCode', 'region', 'pop2011', 'pop2012',
       'pop2013', 'pop2014', 'pop2015', 'pop2020', 'version'], axis=1)

In [119]:
gdf2['name'].nunique()

2802

In [120]:
gdf2["name_uat"] = (gdf["name"] + gdf["county"]).transform(lambda s: s.lower().replace(" ", "").replace("-", "").replace("ă", "a").replace("ț", "t").replace("ă", "a").replace("ș", "s").replace("â", "i").replace("î", "i"))

In [121]:
gdf2 = gdf2.sort_values(by="name_uat")

In [122]:
merged = df2.merge(gdf2, left_on = "name_uat", right_on = "name_uat", how="outer")

In [123]:
# sns.heatmap(merged.isnull(),yticklabels=False,cbar=False,cmap='viridis')

In [124]:
merged[merged['geometry'].isnull()]

,Uat,Județ,a,b,b1,b2,b3,c,d,e,...,g9,g10,g11,g12,g13,g14,name_uat,name,county,geometry
13,AFGANISTAN,STRĂINĂTATE,0.0,797.0,0.0,797.0,0.0,769.0,28.0,1200.0,...,0.0,63.0,9.0,27.0,12.0,13.0,afganistanstrainatate,NaN,NaN,None
14,AFRICA DE SUD,STRĂINĂTATE,0.0,158.0,0.0,158.0,0.0,158.0,0.0,600.0,...,0.0,15.0,1.0,2.0,0.0,4.0,africadesudstrainatate,NaN,NaN,None
26,ALBANIA,STRĂINĂTATE,0.0,44.0,0.0,44.0,0.0,44.0,0.0,315.0,...,0.0,4.0,0.0,4.0,0.0,0.0,albaniastrainatate,NaN,NaN,None
42,ALGERIA,STRĂINĂTATE,0.0,35.0,0.0,35.0,0.0,35.0,0.0,100.0,...,0.0,4.0,0.0,0.0,0.0,0.0,algeriastrainatate,NaN,NaN,None
64,ANGOLA,STRĂINĂTATE,0.0,9.0,0.0,9.0,0.0,9.0,0.0,100.0,...,0.0,4.0,0.0,0.0,0.0,0.0,angolastrainatate,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2965,URUGUAY,STRĂINĂTATE,0.0,31.0,0.0,31.0,0.0,29.0,2.0,100.0,...,1.0,4.0,0.0,0.0,0.0,0.0,uruguaystrainatate,NaN,NaN,None
2970,UZBEKISTAN,STRĂINĂTATE,0.0,10.0,0.0,10.0,0.0,10.0,0.0,200.0,...,0.0,0.0,0.0,0.0,0.0,0.0,uzbekistanstrainatate,NaN,NaN,None
3025,VENEZUELA,STRĂINĂTATE,0.0,38.0,0.0,38.0,0.0,38.0,0.0,200.0,...,0.0,1.0,0.0,0.0,0.0,0.0,venezuelastrainatate,NaN,NaN,None
3042,VIETNAM,STRĂINĂTATE,0.0,139.0,0.0,139.0,0.0,135.0,4.0,400.0,...,1.0,5.0,0.0,0.0,0.0,0.0,vietnamstrainatate,NaN,NaN,None
3171,ZIMBABWE,STRĂINĂTATE,0.0,7.0,0.0,7.0,0.0,7.0,0.0,100.0,...,0.0,0.0,0.0,0.0,0.0,0.0,zimbabwestrainatate,NaN,NaN,None

In [125]:
merged[merged['geometry'].isnull()]['Județ'].unique()

array(['STRĂINĂTATE', 'ARGEŞ', 'MUNICIPIUL BUCUREŞTI - SECTOR 1',
       'MUNICIPIUL BUCUREŞTI - SECTOR 2',
       'MUNICIPIUL BUCUREŞTI - SECTOR 3',
       'MUNICIPIUL BUCUREŞTI - SECTOR 4',
       'MUNICIPIUL BUCUREŞTI - SECTOR 5',
       'MUNICIPIUL BUCUREŞTI - SECTOR 6', 'SATU MARE'], dtype=object)

In [126]:
for i in range(1, 7):
  gdf2["name_uat"]=gdf2["name_uat"].apply(lambda s: s.replace("bucurestisector" + str(i), "bucurestisectorul" + str(i) + "bucuresti"))
for i in range(1, 7):
  df2["name_uat"]=df2["name_uat"].apply(lambda s: s.replace("bucurestibucurestisector" + str(i), "bucurestisectorul" + str(i) + "bucuresti"))

In [127]:
merged2 = df2.merge(gdf2, left_on = "name_uat", right_on = "name_uat", how="outer")

In [128]:
merged2[merged2['geometry'].isnull()]['Județ'].unique()

array(['STRĂINĂTATE', 'ARGEŞ', 'SATU MARE'], dtype=object)

In [129]:
gdf2["name_uat"]=gdf2["name_uat"].apply(lambda s: s.replace("hirseștiarges", "hirsestiarges"))
gdf2["name_uat"]=gdf2["name_uat"].apply(lambda s: s.replace("orasorasunousatumare", "orasunousatumare"))
df2["name_uat"]=df2["name_uat"].apply(lambda s: s.replace("hirseștiarges", "hirsestiarges"))
df2["name_uat"]=df2["name_uat"].apply(lambda s: s.replace("unousatumare", "orasunousatumare"))

In [130]:
merged3 = df2.merge(gdf2, left_on = "name_uat", right_on = "name_uat", how="outer")

In [131]:
merged3[merged3['geometry'].isnull()]['Județ'].unique()

array(['STRĂINĂTATE'], dtype=object)

In [132]:
strainatate=merged3[merged3['geometry'].isnull()]

In [133]:
merged3[merged3['geometry'].isnull()]

,Uat,Județ,a,b,b1,b2,b3,c,d,e,...,g9,g10,g11,g12,g13,g14,name_uat,name,county,geometry
13,AFGANISTAN,STRĂINĂTATE,0,797,0,797,0,769,28,1200,...,0,63,9,27,12,13,afganistanstrainatate,NaN,NaN,None
14,AFRICA DE SUD,STRĂINĂTATE,0,158,0,158,0,158,0,600,...,0,15,1,2,0,4,africadesudstrainatate,NaN,NaN,None
26,ALBANIA,STRĂINĂTATE,0,44,0,44,0,44,0,315,...,0,4,0,4,0,0,albaniastrainatate,NaN,NaN,None
42,ALGERIA,STRĂINĂTATE,0,35,0,35,0,35,0,100,...,0,4,0,0,0,0,algeriastrainatate,NaN,NaN,None
64,ANGOLA,STRĂINĂTATE,0,9,0,9,0,9,0,100,...,0,4,0,0,0,0,angolastrainatate,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2965,URUGUAY,STRĂINĂTATE,0,31,0,31,0,29,2,100,...,1,4,0,0,0,0,uruguaystrainatate,NaN,NaN,None
2970,UZBEKISTAN,STRĂINĂTATE,0,10,0,10,0,10,0,200,...,0,0,0,0,0,0,uzbekistanstrainatate,NaN,NaN,None
3025,VENEZUELA,STRĂINĂTATE,0,38,0,38,0,38,0,200,...,0,1,0,0,0,0,venezuelastrainatate,NaN,NaN,None
3042,VIETNAM,STRĂINĂTATE,0,139,0,139,0,135,4,400,...,1,5,0,0,0,0,vietnamstrainatate,NaN,NaN,None
3171,ZIMBABWE,STRĂINĂTATE,0,7,0,7,0,7,0,100,...,0,0,0,0,0,0,zimbabwestrainatate,NaN,NaN,None

In [134]:
import matplotlib.pyplot as plt
# fig, ax = plt.subplots(figsize=(10,15))
# sns.heatmap(merged3.isnull(),yticklabels=False,cbar=False,cmap='viridis', ax=ax)

In [135]:
strainatate=merged3[merged3['geometry'].isnull()]

In [136]:
merged3=merged3[merged3['geometry'].isnull()==False]

In [137]:
final1=merged3.dropna(subset=['name'])

In [138]:
import matplotlib.pyplot as plt
# fig, ax = plt.subplots(figsize=(10,15))
# sns.heatmap(merged3.isnull(),yticklabels=False,cbar=False,cmap='viridis', ax=ax)

In [139]:
final1=final1.drop(['a', 'b', 'b1', 'b2', 'b3', 'c', 'd', 'e', 'f'], axis=1)

In [140]:

candidati = {'g1': 'Klaus-Werner Iohannis'
,'g2': 'Theodor Paleologu'
,'g3': 'Ilie-Dan Barna'
,'g4': 'Hunor Kelemen'
,'g5': 'Vasilica-Viorica Dancilă'
,'g6': 'Cătălin-Sorin Ivan'
,'g7': 'Ninel Peia'
,'g8': 'Sebastian-Constantin Popescu'
,'g9': 'John-Ion Banu'
,'g10': 'Mircea Diaconu'
,'g11': 'Bogdan-Dragoș-Aureliu Marian-Stanoevici'
,'g12': 'Ramona-Ioana Bruynseels'
,'g13': 'Vioerl Cataramă'
,'g14': 'Alexandru Cumpănașu'}
final1.rename(columns=candidati,
          inplace=True)

In [141]:
columns=['Klaus-Werner Iohannis', 'Theodor Paleologu',
       'Ilie-Dan Barna', 'Hunor Kelemen', 'Vasilica-Viorica Dancilă',
       'Cătălin-Sorin Ivan', 'Ninel Peia', 'Sebastian-Constantin Popescu',
       'John-Ion Banu', 'Mircea Diaconu',
       'Bogdan-Dragoș-Aureliu Marian-Stanoevici', 'Ramona-Ioana Bruynseels',
       'Vioerl Cataramă', 'Alexandru Cumpănașu']

In [142]:
final1["pred_absolute"] = final1[columns].max(axis=1)
final1["pred_percent"] = round(final1[columns].max(axis=1)/final1[columns].sum(axis=1) * 100, 2)
final1["pred_party"] = final1[columns].idxmax(axis=1)

In [143]:
final1.drop(['Județ','Uat'], axis=1, inplace=True)

In [144]:
final2=final1.dropna()

In [145]:
gdf3 = geopandas.GeoDataFrame(final2, geometry="geometry")

In [146]:
from shapely.geometry.multipolygon import MultiPolygon
from shapely import wkt
from shapely.geometry import shape

In [147]:
b=gdf3['geometry'].tolist()

In [148]:
myl=[]
for item in range(0,len(b)):
    if b[item].geom_type=='MultiPolygon':
         myl.append(b[item])
    else:
        myl.append(MultiPolygon([b[item]]))

In [149]:
gdf4=gdf3

In [150]:
gdf4['geometry']=myl

In [151]:
import matplotlib
from matplotlib.colors import LogNorm 
io_cmap3=['#ffe01a','#e6c700','#806f00']
vi_cmap3=['#f25a5f','#ee2b31','#d41118']
ke_cmap3=['#80cc8c','#5bbd6b','#42a452']
io_cmap5=['#ffe74d','#ffe01a','#e6c700','#806f00','#b39b00','#4d4200']
vi_cmap5=['#f25a5f','#ee2b31','#d41118','#a50d13','#760a0d','#470608']
ke_cmap5=['#80cc8c','#5bbd6b','#42a452','#337f40','#255b2d','#16371b']

cmap1 = matplotlib.colors.ListedColormap(io_cmap3)
cmap2 = matplotlib.colors.ListedColormap(vi_cmap3)
cmap3 = matplotlib.colors.ListedColormap(ke_cmap3)
cmap4 = matplotlib.colors.ListedColormap(io_cmap5)
cmap5 = matplotlib.colors.ListedColormap(vi_cmap5)
cmap6 = matplotlib.colors.ListedColormap(ke_cmap5)

In [152]:
gdf4.head(5)

,Klaus-Werner Iohannis,Theodor Paleologu,Ilie-Dan Barna,Hunor Kelemen,Vasilica-Viorica Dancilă,Cătălin-Sorin Ivan,Ninel Peia,Sebastian-Constantin Popescu,John-Ion Banu,Mircea Diaconu,...,Ramona-Ioana Bruynseels,Vioerl Cataramă,Alexandru Cumpănașu,name_uat,name,county,geometry,pred_absolute,pred_percent,pred_party
0,1177,228,535,10,886,10,17,13,12,356,...,104,16,63,1decembrieilfov,1 Decembrie,Ilfov,"MULTIPOLYGON (((26.05090 44.31869, 26.05112 44...",1177,34.16,Klaus-Werner Iohannis
1,1167,90,277,6,328,5,7,2,14,156,...,65,11,78,23augustconstanta,23 August,Constanța,"MULTIPOLYGON (((28.57698 43.97089, 28.57845 43...",1167,52.59,Klaus-Werner Iohannis
2,597,33,76,47,212,4,1,6,7,89,...,48,9,12,abrambihor,Abram,Bihor,"MULTIPOLYGON (((22.48712 47.34500, 22.48694 47...",597,52.19,Klaus-Werner Iohannis
3,202,14,50,458,82,1,2,1,3,25,...,20,1,3,abramutbihor,Abrămuț,Bihor,"MULTIPOLYGON (((22.32154 47.33039, 22.32183 47...",458,53.07,Hunor Kelemen
4,301,9,22,377,102,3,2,3,2,17,...,6,2,2,acissatumare,Acâș,Satu Mare,"MULTIPOLYGON (((22.74954 47.57139, 22.74984 47...",377,44.46,Hunor Kelemen

In [153]:
gdf4_no_id = gdf4.to_json(drop_id=True)

In [154]:
from matplotlib.colors import LogNorm 
import matplotlib
colors =["lightblue","green" , "yellow",'blue','purple',"red"]
cmap = matplotlib.colors.ListedColormap(colors)
# ax = gdf4.plot(
#     column="pred_party",
#     k=4,
#     cmap=cmap,
#     legend=True,
#     legend_kwds={"loc": "center left", "bbox_to_anchor": (1, 0.5)},
#     figsize=(15, 10)
# )
# ax.set_axis_off()

In [155]:
import folium
import matplotlib.colors as colors
idk=gdf4[gdf4["pred_party"]=="Klaus-Werner Iohannis"]
# ax = idk.plot(
#     column="pred_percent",
#     cmap=cmap4,
#     scheme='equalinterval',
#     k=3,
#     legend=True,
#     legend_kwds={"loc": "center left", "bbox_to_anchor": (1, 0.5)},
#     figsize=(15, 10)
# )
idk2=gdf4[gdf4["pred_party"]=='Vasilica-Viorica Dancilă']
# idk2.plot( ax=ax,
#     column="pred_percent",
#     cmap=cmap5,
#     scheme='equalinterval',
#     k=3
# )
idk3=gdf4[gdf4["pred_party"]=='Hunor Kelemen']
# idk3.plot( ax=ax,
#     column="pred_percent",
#     cmap=cmap6,
#     scheme='equalinterval',
#     k=3
# )
idk4=gdf4[~gdf4["pred_party"].isin(['Hunor Kelemen','Vasilica-Viorica Dancilă',"Klaus-Werner Iohannis"])]
# idk4.plot( ax=ax,
#     column="pred_percent",
#     cmap='Blues',
#     scheme='equalinterval',
#     k=3
# )
# ax

In [156]:
idk_1=gdf4[gdf4["pred_party"]=="Klaus-Werner Iohannis"]
idk_dict=idk.to_json(drop_id=True)
idk_2=gdf4[gdf4["pred_party"]=='Vasilica-Viorica Dancilă']
idk2_dict=idk2.to_json(drop_id=True)
idk_3=gdf4[gdf4["pred_party"]=='Hunor Kelemen']
idk3_dict=idk3.to_json(drop_id=True)

In [157]:
# import folium

# m = folium.Map(location=[45.9432,24.9668], tiles="OpenStreetMap", zoom_start=7)

# folium.Choropleth(
#     geo_data=idk_dict,
#     name="choropleth",
#     data=idk,
#     columns=["name_uat", "pred_percent"],
#     key_on="feature.properties.name_uat",
#     fill_color='Purples',
#     fill_opacity=0.7,
#     line_opacity=0.5,
#     legend_name='Klaus-Werner Iohannis'
# ).add_to(m)
# folium.Choropleth(
#     geo_data=idk2_dict,
#     name="choropleth",
#     data=idk2,
#     columns=["name_uat", "pred_percent"],
#     key_on="feature.properties.name_uat",
#     fill_color='OrRd',
#     fill_opacity=0.7,
#     line_opacity=0.5,
#     legend_name='Vasilica-Viorica Dancilă'
# ).add_to(m)
# folium.Choropleth(
#     geo_data=idk3_dict,
#     name="choropleth",
#     data=idk3,
#     columns=["name_uat", "pred_percent"],
#     key_on="feature.properties.name_uat",
#     fill_color='YlGn',
#     fill_opacity=0.7,
#     line_opacity=0.5,
#     legend_name='Hunor Kelemen'
# ).add_to(m)
# folium.LayerControl().add_to(m)
# m

In [158]:
# idk_1=gdf4[gdf4["pred_party"]=="Klaus-Werner Iohannis"]
# idk_dict=idk.to_json(drop_id=True)
# idk_2=gdf4[gdf4["pred_party"]=='Vasilica-Viorica Dancilă']
# idk2_dict=idk2.to_json(drop_id=True)
# idk_3=gdf4[gdf4["pred_party"]=='Hunor Kelemen']
# idk3_dict=idk3.to_json(drop_id=True)

In [159]:
# import folium
# import matplotlib.colors as colors
# idk=gdf4[gdf4["pred_party"]=="Klaus-Werner Iohannis"]
# base = idk.explore(
#     column="pred_percent",
#     cmap='YlOrRd',
#     scheme='equalinterval',
#     tooltip="name",
#     popup=True,
#     k=5
# )
# idk2=gdf4[gdf4["pred_party"]=='Vasilica-Viorica Dancilă']
# idk2.explore( m=base,
#     column="pred_percent",
#     cmap='gist_heat',
#     scheme='equalinterval',
#     tooltip="name",
#     k=5
# )
# idk3=gdf4[gdf4["pred_party"]=='Hunor Kelemen']
# idk3.explore( m=base,
#     column="pred_percent",
#     cmap='summer',
#     scheme='equalinterval',
#     tooltip="name",
#     k=5
# )
# base